.loginPage{
    background-image: url(../../img/bannerbackground.png);
    background-size: cover;
    background-position: center center;
    min-height: 600px;
    height: 100vh;
    padding: 50px;
    text-align: center;
}

.googleSign{
    margin-bottom: 50px;
}