.homeHero{
    background: url('../../img/bannerbackground.png') no-repeat;
    background-size: cover;
    background-position: center; 
    height: 550px;
    position: relative;
}
.heroBox{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}
.heroBox h1{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 300;
}

.heroSearch{
    position: relative;
    display: inline-block;
}
.heroSearch .searchInput{
    padding: 14px;
    width: 400px;
    border-radius: 30px;
    border: none;
}
.heroSearch .btn{
    position: absolute;
    right: 0;
}