:root {
  --colorPrimary: #f91944;
}

*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}

img{
  width: 100%;
}

.btn{
  border: none;
  background-color: transparent;
  padding: 12px 35px;
  font-size: 18px;
  border-radius: 100px;
  cursor: pointer;
}
.btnFull{
  color: #fff;
  background-color: var(--colorPrimary);
}

/* Header */
.header{
  background-color: #fff;
  padding: 20px 0;
}
.headerContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.headerLogo img{
  width: 200px;
}

.headerNav{
  display: flex;
  align-items: center;
}
.headerNav > *{
  margin: 0 10px;
}