:root {
  --colorPrimary: #f91944;
}

*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}

img{
  width: 100%;
}

.btn{
  border: none;
  background-color: transparent;
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}
.btnFull{
  color: #fff;
  background-color: var(--colorPrimary);
}
.btnMuted{
  color: #fff;
  background-color: #ddd;
}

.green{
  color: green;
}
.red{
  color: red;
}

.incDec{
  border: 1px solid #dddddd;
  background-color: #fff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.incDec span{
  color: #333;
  padding: 0 10px;
  margin: 0 5px;
}
.incDec button{
  cursor: pointer;
  border: none;
  background-color: #fff;
  color: black;
  background-color: transparent;
  font-weight: 100;
  font-size: 16px;
  border: none;
}
.incDec svg{
  font-weight: 100;
}
.plusIcon{
  color:red
}

/* Header */
.header{
  background-color: #fff;
  padding: 20px 0;
}
.headerContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.headerLogo img{
  width: 200px;
}

.headerNav{
  display: flex;
  align-items: center;
}
.headerNav > *{
  margin: 0 10px;
}
header .cartIcon{
  color: black;
  font-size: 20px;
  text-decoration: none;
  position: relative;
}
header .cartCount{
  position: absolute;
  font-size: 12px;
  background-color: var(--colorPrimary);
  color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  top: -8px;
  right: -8px;
}

.userInfo{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.userInfo img{
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
}

/* Form */
form{
  width: 550px;
  margin: 0 auto;
  text-align: center;
}
form input, form textarea{
  width: 90%;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 14px;
}
form .input{
  background-color: #fff;
  border: none;
}
.formText{
  margin-top: 20px;
  cursor: pointer;
  font-size: 15px;
}

/* Url Error */
.notFound{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 100px 0;
}
.notFound h1{
  font-weight: 600;
  font-size: 40px;
}
.notFound h2{
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 10px;
}

/* Footer */
.footer{
  background-color: #333;
  padding: 50px 0;
}
.footerLogo img{
  width: 200px;
}
.footer a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footerFlex{
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.footerTopRight{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.footer ul{
  list-style-type: none;
  margin-right: 30px;
}
.footer ul li{
  margin-bottom: 10px;
}

.footerCopy{
  color: #aaa;
  font-size: 14px;
}
.footerMenu li{
  display: inline-block;
  margin-left: 30px;
}

.inventoryForm input, .inventoryForm select{
  width: 500px;
  padding: 15px;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
.inventoryForm select{
  width: 525px;
  padding: 14px;
}